<div class="page-wrapper">

{% extends 'base.html' %}



{% load static %}

{% block content%}

<div class="book">
    <div class="book-no">
        <div class="no"> <span class="one">1 800-2608901</span> | <span class="one">(647) 6895848</span></div>
        <div class="book-icon">
            <a href=""><i class="bi bi-facebook" id="ic"></i></a>
            <a href=""><i class="bi bi-twitter" id="ic"></i></a>
            <a href=""><i class="bi bi-instagram" id="ic" ></i></a>
            <a href=""><i class="bi bi-linkedin" id="ic"></i></a>
        </div>

    </div>
    <div class="booknow">
        <div class="b-now">
            BOOK NOW
        </div>
        <div class="ge">
            GET QUOTE
        </div>
    </div>

</div>


<div class="blogmain">
    
    <div class="blogside1">
    {% for post in posts %}
        

      <a href="{% url 'detail' %}"><img src="{{ post.featured_img.url }}" alt="{{ post.title }}"></a>
        
        
        <h2 class="blogh2">{{ post.title }}</h2>
        <br>
        <br>
        <br>
       
        <p class="blogmp">Blog / Ankur Purecha</p>
        <div class="bmpara">{{ post.content|truncatechars:6500 }}</div>
       
        <a href="{% url 'detail' %}" style="text-decoration: none; color: gray;">Read more >></a>
        <br><br>
    

     
    {% endfor %} 
        
    
   
   
   
   
   
   
   
   
   
    </div>


    <div class="blogside2">
        <form action="" method="POST">
            {% csrf_token %}
        <div class="blogform">
            <div class="blogf1">
                <div class="bp1" style="border-right: 1px solid #ccc;" >
                    <label >PICKUP DATE</label>
                    <input type="date" name="PickupDate" style="padding: 10px 2px;">
                </div>
                <div class="bp1">
                    <label >PICKUP TIME</label>
                    <input type="time" name="PickupTime" style="padding: 10px 2px;">
                </div>
            </div>
            <div class="blogf2" >
                <label >Pickup location  -USE MY LOCATION</label>
                <i class="bi bi-geo-alt"><input type="text" placeholder="Enter a Location" name="PickupLocation" id="icon-input" style="padding: 10px 10px;"></i>
            </div>
            <div class="blogf3">
                <label for="">Drop-off location   </label>
                <i class="bi bi-geo-alt"><input type="text" placeholder="Enter a Location" name="DropOff"  id="icon-input" style="padding: 10px 10px;"></i>

            </div>
            <div class="form-group transfer-type" style="border: none;  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
            <label for="transferType">TRANSFER TYPE</label>
            <input type="hidden" id="transferInput" name="Transfer" value="One Way">
             <div class="custom-select" onclick="toggleDropdown()">
                <div id="selectedOption">One Way</div>
                <div class="dropdown-arrow"><span class="ts"  >▼</span></div>
                <div class="dropdown-options" id="dropdownOptions">
                    <div onclick="selectOption('One Way')">One Way</div>
                    <div onclick="selectOption('Return')">Return</div>
                    <div onclick="selectOption('Return (new ride)')">Return (new ride)</div>
                </div>
            </div>
        </div>
        </div>

         <div class="f-booknow" style="margin-top: 50px; margin-left: 200px;">
        <input type="submit" value="BOOK NOW" id="f-btn">
      </div>
    </div>

  </form>

</div>



<script>
function selectOption(value) {
    document.getElementById("selectedOption").innerText = value;
    document.getElementById("transferInput").value = value;
}

function selectTime(value) {
    document.getElementById("selectedTime").innerText = value;
    document.getElementById("extraTimeInput").value = value;
}

function toggleDropdown() {

}

function syncHiddenFields() {
    const selectedTransfer = document.getElementById("selectedOption").innerText;
    const selectedTime = document.getElementById("selectedTime").innerText;

    document.getElementById("transferInput").value = selectedTransfer;
    document.getElementById("extraTimeInput").value = selectedTime;
}
</script>

<script src="{% static 'script.js'%}"></script>
{% endblock %}