<div class="page-wrapper">

{% extends 'base.html' %}



{% load static %}

{% block content%}


<div class="book" style="border-bottom: 1px solid #eee; background-color: #05d99c;" >
    <div class="book-no">
        <div class="no"> <span class="one">1 800-2608901</span> | <span class="one">(647) 6895848</span></div>
        <div class="book-icon">
            <a href=""><i class="bi bi-facebook" id="ic"></i></a>
            <a href=""><i class="bi bi-twitter" id="ic"></i></a>
            <a href=""><i class="bi bi-instagram" id="ic" ></i></a>
            <a href=""><i class="bi bi-linkedin" id="ic"></i></a>
        </div>

    </div>
    <div class="booknow">
        <div class="b-now">
            BOOK NOW
        </div>
        <div class="ge">
            GET QUOTE
        </div>
    </div>

</div>

<div class="head-nia">
    <h1>Niagara Falls Tour</h1>
    <p>Embark on an unforgettable adventure with the Niagara Falls tour from Pearson Toronto Airport Limo and Taxi Service. Right from the moment you touch down at Pearson Airport, you’re immersed in convenience and luxury. Their professional chauffeurs greet you at the airport, escorting you to your choice of premium vehicle. As you journey through the picturesque route, the trained drivers ensure you a smooth, stress-free ride while sharing interesting insights about the region. Arriving at Niagara Falls, you are greeted with its awe-inspiring beauty. The service takes the experience a notch higher by offering pick-up and drop-off facilities to a host of hotels in the area, making your stay hassle-free. Choose Pearson Toronto Airport Limo and Taxi Service for a Niagara Falls tour that’s as comfortable as it is unforgettable.</p>
    
  
</div>



<div class="nia-pictures">
    <div class="nia-pic"><img src="{% static 'images/nia2.png'%}" alt=""></div>
    <div class="nia-pic" id="nia-pic1"><img src="{% static 'images/fire.png'%}" alt=""></div>
    <div class="nia-pic" style="margin-top: -40px;"><img src="{% static 'images/nia1.png'%}" alt=""></div>
    <div class="nia-pic" style="margin-top: -40px;" ><img src="{% static 'images/nia3.png'%}" alt=""></div>
    

</div>
<h1 class="nfa">Niagara Falls Adventure: Luxury Transfers with Pearson  Toronto Airport Limo and Taxi Service</h1>
<p class="pnfa" style="margin-bottom: 20px;">Niagara Falls is a spectacle of nature that captures the imagination of travelers from around the globe. Elevate your trip to this grand spectacle by opting for the premium convenience of Pearson Toronto Airport Limo and Taxi Service.</p>
<h1 class="nfa">Why Pearson Toronto Airport Limo and Taxi Service is Your Go-To Option</h1>
<p class="pnfa">Pearson Toronto Airport Limo and Taxi Service facilitate your Journey to Niagara Falls, ensuring it starts right from the moment you land at Toronto Pearson International Airport. Here’s why you should consider this exceptional service:</p>
<p class="pnfa"><span style="font-weight: bold;">1. Streamlined Service for Your Comfort </span> Pearson Toronto Airport Limo and Taxi Service prioritizes your convenience. With pre-booking, you secure a professional chauffeur who will await your arrival, ready to transport you to your Niagara Falls adventure.</p>
<p class="pnfa"><span style="font-weight: bold;">2. Travel in Luxury</span> Enhance your Niagara Falls experience with the luxurious comfort of Pearson Toronto Airport Limo and Taxi Service. From limousines to SUVs, the fleet promises a smooth, stylish ride that caters to your taste.</p>
<p class="pnfa"><span style="font-weight: bold;">3. Expert Chauffeurs at Your Service </span>Trained, courteous, and well-informed chauffeurs enrich your Journey, guiding you through the most scenic routes and popular attractions of Niagara Falls.</p>
<p class="pnfa"><span style="font-weight: bold;">4. Tailor-Made Travel Plans </span>Your preferences guide your Journey. Whether you crave leisurely sightseeing or a whirlwind adventure, Pearson Toronto Airport Limo and Taxi Service can customize your itinerary, incorporating stops at wineries, scenic viewpoints, and attractions of your choice.</p>
<p class="pnfa"><span style="font-weight: bold;">5. Travel Without Hassles </span>Leave the stress of navigating public transport or driving behind. The chauffeurs manage the traffic and route planning, letting you focus on relishing your travel buddies’ picturesque scenery and companionship.</p>
<h1 class="nfa" style="margin-top: 35px; margin-bottom: 10px;" >Unveiling the Wonders of Niagara Falls Your Journey Begins with Us</h1>
<p class="pnfa" >Upon reaching Niagara Falls, the sheer magnificence of the cascades like Horseshoe Falls, American Falls, and Bridal Veil Falls imprints an everlasting memory. Discover the must-visit attractions:</p>
<p class="pnfa"><span style="font-weight: bold;">1. Sail Close to the Falls: Maid of the Mist Boat Tour </span>Experience the unfiltered might of the falls with the famed Maid of the Mist boat tour. Feel the misty spray as you navigate the churning waters, offering a raw, close encounter with nature’s power.</p>
<p class="pnfa"><span style="font-weight: bold;">2. Unusual Viewpoints: Journey Behind the Falls</span>Venture into the heart of the falls with the Journey Behind the Falls tour. Experience the thrill of witnessing the cascades from behind, feeling the bedrock rumble beneath you.</p>
<p class="pnfa"><span style="font-weight: bold;">3. Wander Amidst Nature: Niagara Parks and Attractions</span>Indulge in the natural beauty of Niagara Parks, with its meticulously maintained gardens, walking trails, and stunning views of the falls. Make sure to visit the Niagara SkyWheel, White Water Walk, and Whirlpool Aero Car for unique landscape perspectives.</p>
<p class="pnfa"><span style="font-weight: bold;">4. Historic Delight: Niagara-on-the-Lake </span>Pause at the quaint town of Niagara-on-the-Lake. Soak in the picturesque beauty while sampling local wines and exploring historic sites.</p>
<p class="pnfa"><span style="font-weight: bold;">5. Aerial Views: Skylon Tower </span>Admire the panoramic view of Niagara Falls from Skylon Tower’s observation deck, incredibly mesmerizing during sunset when the cascades shimmer in golden hues.</p>
<h1 class="nfa" style="margin-top: 35px; margin-bottom: 10px;" >Pearson Toronto Airport Limo and Taxi Service: Comfort and Convenience</h1>
<p class="pnfa">When you choose Pearson Toronto Airport Limo and Taxi Service for your Niagara Falls trip, you can leave all your transportation worries behind. Their services include pick-up and drop-off to many hotels, making your stay even more convenient and enjoyable. Some of the hotels they serve are:</p>

<ul style="list-style-type: decimal; margin-left: 80px;" class="unifa" >
    <li><h4>Niagara Falls Marriott Fallsview Hotel & Spa</h4></li>
    <li><h4>Sheraton on the Falls Hotel</h4></li>
    <li><h4>Hilton Niagara Falls/Fallsview Hotel & Suites</h4></li>
    <li><h4>Embassy Suites by Hilton Niagara Falls – Fallsview</h4></li>
    <li><h4>DoubleTree Fallsview Resort & Spa by Hilton</h4></li>
    <li><h4>Crowne Plaza Niagara Falls – Fallsview</h4></li>
    <li><h4>Radisson Hotel & Suites Fallsview</h4></li>
    <li><h4>Wyndham Garden Niagara Falls Fallsview</h4></li>
    <li><h4>Four Points by Sheraton Niagara Falls Fallsview</h4></li>
    <li><h4>The Oakes Hotel Overlooking the Falls</h4></li>
    <li><h4>Great Wolf Lodge Niagara Falls</h4></li>
    <li><h4>Niagara Falls KOA Holiday</h4></li>
    <li><h4>Ramada by Wyndham Niagara Falls/Fallsview</h4></li>
    <li><h4>Fallsview Casino Resort</h4></li>
    <li><h4>Clifton Victoria Inn at the Falls</h4></li>
    <li><h4>Skyline Hotel & Waterpark</h4></li>
    <li><h4>Best Western Fallsview</h4></li>
    <li><h4>Comfort Inn Fallsview</h4></li>
    <li><h4>Days Inn & Suites by Wyndham Niagara Falls Centre St. By the Falls</h4></li>
    <li><h4>Sheraton Fallsview Hotel</h4></li>
    <li><h4>Courtyard by Marriott Niagara Falls</h4></li>
    <li><h4>Marriott on the Falls Hotel</h4></li>
    <li><h4>Tower Hotel at Fallsview</h4></li>
    <li><h4>Quality Inn & Suites</h4></li>
    <li><h4>Holiday Inn Niagara Falls-By the Falls</h4></li>
    <li><h4>Hampton Inn Niagara Falls-North Of The Falls</h4></li>
    <li><h4>Vittoria Hotel and Suites</h4></li>
    <li><h4>Old Stone Inn Boutique Hotel</h4></li>
    <li><h4>The Giacomo Hotel</h4></li>
    <li><h4>River Rapids Inn</h4></li>
    <li><h4>Niagara Falls Courtside Inn</h4></li>
    <li><h4>Best Western Plus Cairn Croft Hotel</h4></li>
    <li><h4>Super 8 by Wyndham Niagara Falls By the Falls</h4></li>
    <li><h4>The Rex Motel</h4></li>
    <li><h4>Niagara Inn & Suites</h4></li>
    <li><h4>Ramada Plaza by Wyndham Niagara Falls</h4></li>
    <li><h4>Glengate Hotel & Suites</h4></li>
    <li><h4>Rodeway Inn Fallsview</h4></li>
    <li><h4>Ritz Inn Niagara</h4></li>
    <li><h4>Riverview Motel</h4></li>
    <li><h4>Falls Manor Resort & Restaurant</h4></li>
    <li><h4>Cadillac Motel Niagara</h4></li>
    <li><h4>Days Inn by Wyndham Niagara Falls Near the Falls</h4></li>
    <li><h4>7 Days Inn Niagara Falls</h4></li>
    <li><h4>Acacia Bed and Breakfast</h4></li>
    <li><h4>Ascot Motel</h4></li>
    <li><h4>Advance Inn</h4></li>
    <li><h4>Best Inn Motel</h4></li>
    <li><h4>Canuck Inn and Suites</h4></li>
    <li><h4>Capri Inn</h4></li>
    <li><h4>Country Inn & Suites by Radisson, Niagara Falls, ON</h4></li>
    <li><h4>Crystal Inn on the Parkway</h4></li>
    <li><h4>Days Inn & Suites by Wyndham Niagara Falls Centre St. By the Falls</h4></li>
    <li><h4>Days Inn Niagara Falls Lundy’s Lane</h4></li>
    <li><h4>Diplomat Inn</h4></li>
    <li><h4>Empress Inn & Suites by Elevate Rooms</h4></li>
    <li><h4>Fairway Inn</h4></li>
    <li><h4>Falcon Inn</h4></li>
    <li><h4>Glendale Motor Inn</h4></li>
    <li><h4>Grand Memories Hotel & Suites</h4></li>
    <li><h4>Greystone Manor Bed & Breakfast</h4></li>
    <li><h4>Hampton Inn Niagara Falls/Blvd</h4></li>
    <li><h4>Hillview Motel</h4></li>
    <li><h4>Holiday Inn Express Niagara-On-The-Lake</h4></li>
    <li><h4>Holiday Inn Niagara Falls</h4></li>
    <li><h4>Howard Johnson by Wyndham Niagara Falls</h4></li>
    <li><h4>Knights Inn Niagara Falls Near IAG Airport</h4></li>
    <li><h4>Korman’s Bed and Breakfast</h4></li>
    <li><h4>La Quinta Inn & Suites by Wyndham Niagara Falls</h4></li>
    <li><h4>Lion’s Head Bed & Breakfast</h4></li>
    <li><h4>Marco Polo Inn</h4></li>
    <li><h4>Niagara Falls Family Retreat</h4></li>
    <li><h4>Niagara Falls Motor Lodge</h4></li>
    <li><h4>Niagara Grandview Manor</h4></li>
    <li><h4>Niagara Inn Downtown</h4></li>
    <li><h4>Old Stone Inn Niagara Falls</h4></li>
    <li><h4>Quality Inn & Suites</h4></li>
    <li><h4>Ramada by Wyndham Niagara Falls by the River</h4></li>
    <li><h4>Red Maple Inn by The Falls</h4></li>
    <li><h4>Ritz Inn Niagara Falls</h4></li>
    <li><h4>Riverlodge Motel</h4></li>
    <li><h4>Riverside Motel</h4></li>
    <li><h4>Rodeway Inn Fallsview</h4></li>
    <li><h4>Scott Residence Suites</h4></li>
    <li><h4>Scottish Inn & Suites</h4></li>
    <li><h4>Serene Niagara Inn</h4></li>
    <li><h4>Seneca Niagara Resort & Casino</h4></li>
    <li><h4>Serene Niagara Inn</h4></li>
    <li><h4>Sterling Inn & Spa</h4></li>
    <li><h4>Super 8 by Wyndham Niagara Falls North</h4></li>
    <li><h4>Super 8 by Wyndham Niagara Falls Near Fallsview District</h4></li>
    <li><h4>The Bruce Hotel</h4></li>
    <li><h4>The Falls Hotel & Inn</h4></li>
    <li><h4>The Tower Hotel</h4></li>
    <li><h4>Thriftlodge Niagara Falls at the Falls</h4></li>
    <li><h4>Travelodge by Wyndham Niagara Falls by the Falls</h4></li>
    <li><h4>Universal Inn and Suites by Elevate Rooms</h4></li>
    <li><h4>Villa Gardenia Bed & Breakfast</h4></li>
    <li><h4>WANDERFALLS GUESTHOUSE & SUITES</h4></li>
    <li><h4>Wyndham Garden at Niagara Falls</h4></li>
    
</ul>

<p class="pnfa" ><span style="font-weight: bold;">Pearson Toronto Airport Limo and Taxi Service: Synonymous with Convenience</span></p>
<p class="pnfa">Choosing Pearson Toronto Airport Limo and Taxi Service for your Niagara Falls journey means discarding transportation concerns. Their services extend to numerous hotels for pick-up and drop-off, simplifying your stay. Reach them at (647) 689-5848 or visit www.torontotaxilimo.ca for more information. <br>
<span style="font-weight: bold;">Transform your Niagara Falls tour into an unforgettable journey with Pearson Toronto Airport Limo and Taxi Service. As soon as you alight at Toronto Pearson International Airport, you’re ready for a smooth, luxurious experience that will allow you to appreciate Niagara Falls in all its magnificence. Reserve your ride, pack your necessities, and get ready for an incredible adventure amidst the natural beauty of Niagara Falls.</span></p>

<div class="online">
  
  

  <div class="rdiv">
  <div class="route">
    <img src="{% static 'images/loc.png'%}" alt="loc" height="55px" width="60px">
    <p style="padding: 20px; line-height: 28px; font-size: 20px;"><span style="font-weight: bold;">Choose route and days</span> <br>
   Choose a route, date and time of your trip!</p>
  </div>
  <div class="car">
    <img src="{% static 'images/car.png'%}" alt="car" height="55px" width="60px">
    <p style="padding: 20px; line-height: 28px; font-size: 20px">
     <span style="font-weight: bold;"> Choose a car and extras</span> <br>
      Choose a car and additional services!

    </p>
  </div>
  <div class="form">
    <img src="{% static 'images/form.png'%}" alt="form" height="55px" width="60px">
    <p style="padding: 20px; line-height: 28px; font-size: 20px"><span style="font-weight: bold;">Complete the booking form</span> <br> 
      Fill in a simple booking form and go!
</p>
  </div>
  </div>
</div>

<div class="rounds" style="margin-top: -70px;">

    <div class="wrd">
        <div class="line"></div>
        <div class="mr1">
        <div class="r1" style="color: white;">1</div>
        <p>Enter Ride Details</p>
    </div>

    <div class="mr1">
        <div class="r1">2</div>
        <p>Choose a Vehicle</p>
    </div>

    <div class="mr1">
        <div class="r1">3</div>
        <p>Enter Contact Details</p>
    </div>

    <div class="mr1">
        <div class="r1">4</div>
        <p>Booking Summary</p>
    </div>

    </div>
    
</div>



<div class="form-div">
    <div class="pic-form">
        <form action="" method="post"  onsubmit="syncHiddenFields()">
            {% if form.errors %}
              <div style="color: red;">
                 {{ form.errors }}
              </div>
            {% endif %}
            {% csrf_token %}
        <p class="hp">Ride Details</p>

       <div class="form-group-row">
            <div class="form-field date-field">
                <label for="pickupDate">PICKUP DATE <span class="tooltip-icon">?</span></label>
                <input type="date" id="pickupDate" name="PickupDate">
            </div>
            <div class="form-field time-field">
                <label for="pickupTime" style="display: block; padding: 5px 0px;">PICKUP TIME <span class="tooltip-icon">?</span></label>
                <input type="time" id="pickupTime" name="PickupTime">
            </div>
        </div>

        <div class="form-group location-field">
            <label for="pickupLocation">PICKUP LOCATION <a href="" class="use-my-location">USE MY LOCATION</a> <span class="tooltip-icon">?</span></label>
            <div class="input-with-icon">
                <input type="text" id="pickupLocation" placeholder="Enter a location" name="PickupLocation">
           
            </div>
        </div>
          <div class="form-group location-field">
            <label for="dropoffLocation">DROP-OFF LOCATION</label>
            <input type="text" id="dropoffLocation" placeholder="Enter a location" name="DropOff">
        </div>

        <div class="form-group transfer-type">
            <label for="transferType">TRANSFER TYPE</label>
            <input type="hidden" id="transferInput" name="Transfer" value="One Way">
             <div class="custom-select" onclick="toggleDropdown()">
                <div id="selectedOption">One Way</div>
                <div class="dropdown-arrow"><span class="ts" >▼</span></div>
                <div class="dropdown-options" id="dropdownOptions">
                    <div onclick="selectOption('One Way')">One Way</div>
                    <div onclick="selectOption('Return')">Return</div>
                    <div onclick="selectOption('Return (new ride)')">Return (new ride)</div>
                </div>
            </div>
        </div>
        <div class="ex">
            <p>Extra options</p>
        </div>


        <div class="form-group extra-time">
            <label for="extraTime">Extra Time <span class="tooltip-icon" title="Add extra waiting time">(?)</span></label>
            <input type="hidden" id="extraTimeInput" name="ExtraTime" value="0 minute(s)">
            <div class="custom-select-time" id="extraTimeSelect">
                <div id="selectedTime" >0 minute(s) <span class="ts" style="padding-left: 410px;"> ▼</span> </div>
                <div class="dropdown-options" id="dropdownTimeOptions">
                    <div onclick="selectTime('0 minute(s)')">0 minute(s)</div>
                    <div onclick="selectTime('10 minute(s)')">10 minute(s)</div>
                    <div onclick="selectTime('20 minute(s)')">20 minute(s)</div>
                    <div onclick="selectTime('30 minute(s)')">30 minute(s)</div>
                    <div onclick="selectTime('40 minute(s)')">40 minute(s)</div>
                    <div onclick="selectTime('50 minute(s)')">50 minute(s)</div>
                    <div onclick="selectTime('60 minute(s)')">60 minute(s)</div>
                </div>
            </div>
        </div>
   
     <div class="choose" >
        <input type="submit" value=" Choose a vehicle >">
       
    </div>

</form>
    </div>

    <div class="google">
        <div class="map" id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d368908.3462260093!2d-79.71981069048103!3d43.750093759660224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sTORONTO%20TAXY%20SERVICE%20canada!5e0!3m2!1sen!2sin!4v1750227192613!5m2!1sen!2sin" width="558" height="517" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
        <div class="map-loc">
            <div class="map-loca">
                <i class="bi bi-geo-alt"></i>
                <div class="map-dis">
                    <p>Total distance</p>
                    <h1>0 km</h1>
                </div>

            </div>
            <div class="map-time">
                <i class="bi bi-clock"></i>
                   <div class="map-dis">
                    <p>Total time</p>
                    <h1>0 h 0 m</h1>
                </div>

            </div>
        </div>

    </div>


   
</div>



<div class="calls" style="margin-top: 10px;">
    <h1 class="callh1">Call to Reserve Your Toronto Pearson Airport Ride Today</h1>
    <div class="nos">
        <div class="no1">(647) 689-5848</div>
        <div class="no2">1 800-260-8901</div>
        <div class="no3">Online Booking</div>
        <div class="no4">Booking By Email</div>

    </div>
    
</div>

<div class="calls" style="border-top: 1px solid white;">
    <h1 class="callh1">Call to Reserve Your Toronto Pearson Airport Ride Today</h1>
    <div class="nos">
        <div class="no1">(647) 689-5848</div>
        <div class="no2">1 800-260-8901</div>
        <div class="no3">Online Booking</div>
        <div class="no4">Booking By Email</div>

    </div>
    
</div>












</div>




<script>
function selectOption(value) {
    document.getElementById("selectedOption").innerText = value;
    document.getElementById("transferInput").value = value;
}

function selectTime(value) {
    document.getElementById("selectedTime").innerText = value;
    document.getElementById("extraTimeInput").value = value;
}

function toggleDropdown() {

}

function syncHiddenFields() {
    const selectedTransfer = document.getElementById("selectedOption").innerText;
    const selectedTime = document.getElementById("selectedTime").innerText;

    document.getElementById("transferInput").value = selectedTransfer;
    document.getElementById("extraTimeInput").value = selectedTime;
}
</script>

<script src="{% static 'script.js'%}"></script>
{% endblock %}