<div class="page-wrapper">

{% extends 'base.html' %}



{% load static %}

{% block content%}
<div class="book" style="border-bottom: 1px solid white;border-left: 25px solid white; border-right: 20px solid white;">
    <div class="book-no">
        <div class="no"> <span class="twos">1 800-2608901</span> | <span class="twos">(647) 6895848</span></div>
        <div class="book-icon">
            <a href=""><i class="bi bi-facebook" id="ic"></i></a>
            <a href=""><i class="bi bi-twitter" id="ic"></i></a>
            <a href=""><i class="bi bi-instagram" id="ic" ></i></a>
            <a href=""><i class="bi bi-linkedin" id="ic"></i></a>
        </div>

    </div>
    <div class="booknow">
        <div class="b-now">
            BOOK NOW
        </div>
        <div class="ge">
            GET QUOTE
        </div>
    </div>

</div>



<div class="LRates">
    <div class="Rateh1"><h1>Toronto Taxi Limo Rates</h1></div>

</div>
<div class="queue">
    <div class="que-sub">
        <h2>Toronto Taxi Limo Rates are only valid if you make a reservation in advance, either by call, email or online. Rates do not apply to pick-ups directly from the taxi queue.</h2>
        <br><br><br>
        <h1>Toronto Airport Taxi & Limo Tariffs</h1>
        <p>Explore our competitive <a href="" style="text-decoration: none; color: blue;">flat rates for Toronto Airport limo and taxi </a> services. Each tariff is listed in Canadian dollars (CAD) and includes taxes. For added convenience, check out our easy <a href="" style="text-decoration: none; color: blue;"> online booking platform</a> to reserve your ride in advance.</p>
        
    
    </div>
</div>
<div class="Tariff">
    <div class="tsub">
        <h1>Tariff Table</h1>
    <table class="t-table">
    <thead>
      <tr>
        <th>Destination</th>
        <th>Tariff</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Aldershot</td><td>$115</td></tr>
      <tr><td>Alliston</td><td>$153</td></tr>
      <tr><td>Alton</td><td>$115</td></tr>
      <tr><td>Ancaster</td><td>$133</td></tr>
      <tr><td>Angus</td><td>$186</td></tr>
      <tr><td>Aurora</td><td>$104</td></tr>
      <tr><td>Beaverton</td><td>$174</td></tr>
      <tr><td>Belleville</td><td>$333</td></tr>
      <tr><td>Brampton</td><td>$92</td></tr>
      <tr><td>Bracebridge</td><td>	$237</td></tr>
      <tr><td style="color: rgba(6, 147, 227, 1)">Buffalo Airport</td><td>$314</td></tr>
      <tr><td>Burlington</td><td>$108</td></tr>
      <tr><td>Cambridge</td><td>$177</td></tr>
      <tr><td>Collingwood</td><td>$237</td></tr>
      <tr><td>Guelph</td><td>$133</td></tr>
      <tr><td>Hamilton - Downtown</td><td>$140</td></tr>
      <tr><td>Hamilton - Mountain</td><td>$108</td></tr>
      <tr><td>Huntsville</td><td>$295</td></tr>
      <tr><td>Innisfil</td><td>$125</td></tr>
      <tr><td style="color: rgba(6, 147, 227, 1)">Kitchener</td><td>$177</td></tr>
      <tr><td>London</td><td>$317</td></tr>
      <tr><td>Markham</td><td>	$85</td></tr>
      <tr><td style="color: rgba(6, 147, 227, 1)">Mississauga</td><td>$65</td></tr>
      <tr><td>Niagara Falls, ON</td><td>$237</td></tr>
      <tr><td>Niagara-on-the-Lake</td><td>$252</td></tr>
      <tr><td>North York</td><td>	$70</td></tr>
      <tr><td>Oakville</td><td>$85</td></tr>
      <tr><td style="color: rgba(6, 147, 227, 1)">Peterborough</td><td>$208</td></tr>
      <tr><td>Richmond Hill</td><td>$108</td></tr>
      <tr><td>Scarborough</td><td>$85</td></tr>
      <tr><td>St. Catharines</td><td>$75</td></tr>
      <tr><td style="color: rgba(6, 147, 227, 1)">Toronto Downtown</td><td>$186</td></tr>
      <tr><td>Vaughan</td><td>$75</td></tr>
      <tr><td>Waterloo</td><td>$177</td></tr>
      <tr><td>Whitby</td><td>$133</td></tr>
      <tr><td>Windsor</td><td>$561</td></tr>



    </tbody>
  </table>

  <h1 class="addi">Additional Information</h1>
  <p> <span style="color: grey; font-weight: bold;">407 Tolls:</span> <span style="color: grey;">For trips using Highway 407, additional tolls will apply if requested by the passenger.</span></p>
   <p> <span style="color: grey; font-weight: bold;">Extra Stops:</span> <span style="color: grey;">A $10 surcharge applies for each additional 10 minutes.</span></p>
   <p> <span style="color: grey; font-weight: bold;">Multiple Passenger Drop-Offs: </span> <span style="color: grey;">$15 per extra drop-off.</span></p>
   <p> <span style="color: grey; font-weight: bold;">Excess Baggage:</span> <span style="color: grey;">A $15 surcharge applies for more than 4 passengers or additional luggage.</span></p>
   <p> <span style="color: grey; font-weight: bold;">Payment Options:</span> <span style="color: grey;"> Learn about <span style="color:rgba(6, 147, 227, 1)">payment methods</span>  for convenience.</span></p>

   <br><br>
   <p>For more details, explore our comprehensive <a href="" style="text-decoration: none; color: rgba(6, 147, 227, 1);">blogs</a> covering travel tips, comparison guides, and insights into our services.</p>
    </div>
     
</div>





<div class="rounds">

    <div class="wrd">
        <div class="line"></div>
        <div class="mr1">
        <div class="r1" style="color: white;">1</div>
        <p>Enter Ride Details</p>
    </div>

    <div class="mr1">
        <div class="r1">2</div>
        <p>Choose a Vehicle</p>
    </div>

    <div class="mr1">
        <div class="r1">3</div>
        <p>Enter Contact Details</p>
    </div>

    <div class="mr1">
        <div class="r1">4</div>
        <p>Booking Summary</p>
    </div>

    </div>
    
</div>





<div class="form-div">
    <div class="pic-form">
        <form action="" method="post"  onsubmit="syncHiddenFields()">
            {% if form.errors %}
              <div style="color: red;">
                 {{ form.errors }}
              </div>
            {% endif %}
            {% csrf_token %}
        <p class="hp">Ride Details</p>

       <div class="form-group-row">
            <div class="form-field date-field">
                <label for="pickupDate">PICKUP DATE <span class="tooltip-icon">?</span></label>
                <input type="date" id="pickupDate" name="PickupDate">
            </div>
            <div class="form-field time-field">
                <label for="pickupTime" style="display: block; padding: 5px 0px;">PICKUP TIME <span class="tooltip-icon">?</span></label>
                <input type="time" id="pickupTime" name="PickupTime">
            </div>
        </div>

        <div class="form-group location-field">
            <label for="pickupLocation">PICKUP LOCATION <a href="" class="use-my-location">USE MY LOCATION</a> <span class="tooltip-icon">?</span></label>
            <div class="input-with-icon">
                <input type="text" id="pickupLocation" placeholder="Enter a location" name="PickupLocation">
           
            </div>
        </div>
          <div class="form-group location-field">
            <label for="dropoffLocation">DROP-OFF LOCATION</label>
            <input type="text" id="dropoffLocation" placeholder="Enter a location" name="DropOff">
        </div>

        <div class="form-group transfer-type">
            <label for="transferType">TRANSFER TYPE</label>
            <input type="hidden" id="transferInput" name="Transfer" value="One Way">
             <div class="custom-select" onclick="toggleDropdown()">
                <div id="selectedOption">One Way</div>
                <div class="dropdown-arrow"><span class="ts" >▼</span></div>
                <div class="dropdown-options" id="dropdownOptions">
                    <div onclick="selectOption('One Way')">One Way</div>
                    <div onclick="selectOption('Return')">Return</div>
                    <div onclick="selectOption('Return (new ride)')">Return (new ride)</div>
                </div>
            </div>
        </div>
        <div class="ex">
            <p>Extra options</p>
        </div>


        <div class="form-group extra-time">
            <label for="extraTime">Extra Time <span class="tooltip-icon" title="Add extra waiting time">(?)</span></label>
            <input type="hidden" id="extraTimeInput" name="ExtraTime" value="0 minute(s)">
            <div class="custom-select-time" id="extraTimeSelect">
                <div id="selectedTime" >0 minute(s) <span class="ts" style="padding-left: 410px;"> ▼</span> </div>
                <div class="dropdown-options" id="dropdownTimeOptions">
                    <div onclick="selectTime('0 minute(s)')">0 minute(s)</div>
                    <div onclick="selectTime('10 minute(s)')">10 minute(s)</div>
                    <div onclick="selectTime('20 minute(s)')">20 minute(s)</div>
                    <div onclick="selectTime('30 minute(s)')">30 minute(s)</div>
                    <div onclick="selectTime('40 minute(s)')">40 minute(s)</div>
                    <div onclick="selectTime('50 minute(s)')">50 minute(s)</div>
                    <div onclick="selectTime('60 minute(s)')">60 minute(s)</div>
                </div>
            </div>
        </div>
   
     <div class="choose" >
        <input type="submit" value=" Choose a vehicle >">
       
    </div>

</form>
    </div>

    <div class="google">
        <div class="map" id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d368908.3462260093!2d-79.71981069048103!3d43.750093759660224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sTORONTO%20TAXY%20SERVICE%20canada!5e0!3m2!1sen!2sin!4v1750227192613!5m2!1sen!2sin" width="558" height="517" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
        <div class="map-loc">
            <div class="map-loca">
                <i class="bi bi-geo-alt"></i>
                <div class="map-dis">
                    <p>Total distance</p>
                    <h1>0 km</h1>
                </div>

            </div>
            <div class="map-time">
                <i class="bi bi-clock"></i>
                   <div class="map-dis">
                    <p>Total time</p>
                    <h1>0 h 0 m</h1>
                </div>

            </div>
        </div>

    </div>


   
</div>



<div class="calls" style="margin-top: 10px; display: flex; flex-direction: column; text-align: center; justify-content: center; gap: 15px;">
    <div class=""><h1 class="callh1" style="font-size: 45px;">CALL NOW TO RESERVE YOUR RIDE</h1></div>
    <div class="nos">
        <div class="no1" style="padding: 10px 0px;">1 800-260-8901</div>
        <div class="no2" style="padding: 10px 0px;">(647) 689-5848</div>
     

    </div>
    
</div>

<div class="ad-ch">
    <div class="addcharge">
        <h1>Additional Charges</h1>
    
    <table class="t-table">
    <tbody>
      <tr><td>At the pickup location, we allow a 15 Minute Grace Period, inclusive charges apply thereafter.</td><td>	+ $0.60 / min</td></tr>
      <tr><td style="font-weight: bold;">Excess Luggage</td><td>	+ $10.00</td></tr>
      <tr><td style="font-weight: bold;">Pets In Cage</td><td>+ $6.00</td></tr>
      <tr><td style="font-weight: bold;">Additional Stops</td><td>+ $10.00 minimum</td></tr>
      <tr><td style="font-weight: bold;">407 ETR Tolls</td><td>	Please Call for Rates</td></tr>
      <tr><td style="font-weight: bold;">Rate Not Applicable From Queue at Pearson Airport</td><td>GTAA Rate Applies</td></tr>



    </tbody>
  </table>
  <p>Toronto Taxi Limo Rates mentioned above only apply if a reservation has been made either by call or online, they are not applicable for pick-ups from the taxi queue. All rides which come and from Pearson airport are subject to availability for calls after midnight or during severe weather conditions. To change or cancel a reservation, please call our toll-free 1 800-260-8901, (647) 689-5848
. Cancellations must be received at least 1(one) hour in advance of the service pick-up time. If cancellations are received with less than an hour’s notice, a $25.00 cancellation fee will apply. Toronto Taxi & Limo reserves the right to cancel or amend bookings for reasons beyond our control (ex. severe weather conditions)</p>
</div>
</div>



<div class="calls" style="margin-top: 10px; display: flex; flex-direction: column; text-align: center; justify-content: center; gap: 15px;">
    <div class=""><h1 class="callh1" style="font-size: 45px;">CALL NOW TO RESERVE YOUR RIDE</h1></div>
    <div class="nos">
        <div class="no1" style="padding: 10px 0px;">1 800-260-8901</div>
        <div class="no2" style="padding: 10px 0px;">(647) 689-5848</div>
     

    </div>
    
</div>











</div>




<script>
function selectOption(value) {
    document.getElementById("selectedOption").innerText = value;
    document.getElementById("transferInput").value = value;
}

function selectTime(value) {
    document.getElementById("selectedTime").innerText = value;
    document.getElementById("extraTimeInput").value = value;
}

function toggleDropdown() {

}

function syncHiddenFields() {
    const selectedTransfer = document.getElementById("selectedOption").innerText;
    const selectedTime = document.getElementById("selectedTime").innerText;

    document.getElementById("transferInput").value = selectedTransfer;
    document.getElementById("extraTimeInput").value = selectedTime;
}
</script>

<script src="{% static 'script.js'%}"></script>
{% endblock %}